{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hero</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hero.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ hero.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ hero.prenom }}</td>
            </tr>
            <tr>
                <th>Surnom</th>
                <td>{% if hero.surnom %}{{ hero.surnom|join(', ') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Daten</th>
                <td>{{ hero.dateN }}</td>
            </tr>
            <tr>
                <th>Lieun</th>
                <td>{{ hero.lieuN }}</td>
            </tr>
            <tr>
                <th>Mineur</th>
                <td>{% if hero.mineur %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ hero.sexe }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ hero.statut }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('heros_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('heros_edit', { 'id': hero.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
