<ul id="menu-accordeon">
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
           aria-haspopup="true"  aria-expanded="false">Lister
            <span class="caret"></span>
        </a>
        <ul class="nav nav-sidebar dropdown-menu">
            <li><a href="{{ path('project_index') }}" title="Liste des projets">des projets</a></li>
            <li><a href="{{ path('category_index') }}" title="Liste des catégories">des catégories</a></li>
            <li><a href="{{ path('rights_index') }}" title="Liste des droits">des droits</a></li>
            <li><a href="{{ path('user_index') }}" title="Liste des utilisateurss">des utilisateurs</a></li>
        </ul>
    </li>
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
           aria-haspopup="true" aria-expanded="false">Créer
            <span class="caret"></span>
        </a>
        <ul class="nav nav-sidebar dropdown-menu">
            <li><a href="{{ path('category_new') }}" title=" ajouter une catégorie">une catégorie</a></li>
            <li><a href="{{ path('rights_new') }}" title="ajouter un droit"> un droit</a></li>
        </ul>
    </li>
</ul>