<ul>
    <li> Lister
        <ul>
            <li> <a href="{{ path('project_index') }}">des projets</a></li>
            <li> <a href="{{ path('category_index') }}">des catégories</a>&nbsp;</li>
            <li> <a href="{{ path('rights_index') }}">des droits</a></li>
            <li> <a href="{{ path('tag_index') }}">des tags</a></li>
        </ul>
    </li>
    <li>Créer
        <ul>
            <li> <a href="{{ path('project_new') }}">un projet</a></li>
            <li> <a href="{{ path('category_new') }}">une catégorie</a></li>
            <li> <a href="{{ path('rights_new') }}"> un droit</a></li>
            <li> <a href="{{ path('tag_new') }}">un tag</a></li>
        </ul>
    </li>
</ul>