<ul class="nav nav-sidebar">
    <li> Lister
        <ul class="nav nav-sidebar">
            <li> <a href="{{ path('project_index') }}">des projets</a></li>
            <li> <a href="{{ path('category_index') }}">des catégories</a></li>
            <li> <a href="{{ path('rights_index') }}">des droits</a></li>
            <li> <a href="{{ path('tag_index') }}">des utilisateurs</a></li>
        </ul>
    </li>
    <li>Créer
        <ul class="nav nav-sidebar">
            <li> <a href="{{ path('category_new') }}">une catégorie</a></li>
            <li> <a href="{{ path('rights_new') }}"> un droit</a></li>
        </ul>
    </li>
</ul>