<ul id="menu-accordeon">
    <li><a href="#"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Chapitre(s)</a>
        <ul>
            <li>
                <a href="{{ path('chapitre_list', { 'id': project.id }) }}">Sommaire</a>
            </li>
            <li>
                <a href="{{ path('chapitre_new', { 'id': project.id }) }}">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
            </li>
        </ul>
    </li>
    <li><a href="#" id="linkshow"><span class="glyphicon glyphicon-link" aria-hidden="true"> </span> Liens</a>
        <ul id="listliens">
            {#<li>#}
                {#<a href="{{ path('link_list', { 'id': project.id }) }}"> Liste des liens du projet</a>#}
            {#</li>#}
            <li>
                <a href="{{ path('link_new', { 'id': project.id }) }}">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
            </li>
        </ul>
    </li>
    <li><a href="#"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"> </span> Notes</a>
        <ul>
            <li>
                <a href="{{ path('note_list', { 'id': project.id }) }}">Liste des Notes</a>
            </li>
            <li>
                <a href="#"  onclick="window.open('{{ path('note_new', { 'id': project.id }) }}','Popup_Window','width=600, height=400'); return false;">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
            </li>
        </ul>
    </li>
    <li><a href="#"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>  Lieux </a>
        <ul>
            <li>
                <a href="{{ path('place_list', { 'id': project.id }) }}">Liste des Lieux</a>
            </li>
            <li>
                <a href="{{ path('place_new', { 'id': project.id }) }}">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
            </li>
        </ul>
    </li>
    <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Personnages</a>
        <ul>
            <li>
                <a href="{{ path('heros_list', { 'id': project.id }) }}">Liste des personnages</a>
            </li>
            <li>
                <a href="{{ path('heros_new', { 'id': project.id }) }}">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
            </li>
        </ul>
    </li>
    <li><a href="#"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> Lexique</a>
        <ul>
            <li>
                <a href="{{ path('lexicom_list', { 'id': project.id }) }}">Lexique</a>
            </li>
            <li>
                <a href="{{ path('lexicom_new', { 'id': project.id }) }}">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
            </li>
        </ul>
    </li>
    <li><a href="#"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Objets</a>
        <ul>
            <li>
                <a href="{{ path('items_list', { 'id': project.id }) }}">Liste des Objets</a>
            </li>
            <li>
                <a href="{{ path('items_new', { 'id': project.id }) }}">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
            </li>
        </ul>
    </li>
    <li><a href="#"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Evenements</a>
        <ul>
            <li>
                <a href="{{ path('events_list', { 'id': project.id }) }}">Liste des Evenements</a>
            </li>
            <li>
                <a href="{{ path('events_new', { 'id': project.id }) }}">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
            </li>
        </ul>
    </li>
    <li><a href="#"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> Tags</a>
        <ul>
            <li>
                Liste des tags
                {#<a href="{{ path('tag_list', { 'id': project.id }) }}">Liste des tags </a>#}
            </li>
            <li>
                <a href="{{ path('tag_new', { 'id': project.id }) }}">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
            </li>
        </ul>
    </li>
</ul>
