{#<li role="presentation" class="dropdown">#}
    {#<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"#}
       {#aria-haspopup="true"#}
       {#aria-expanded="false">#}
        {#chapitre(s)#}
        {#<span class="caret"></span>#}
    {#</a>#}
    {#<ul class="nav nav-sidebar dropdown-menu">#}
        {#<li><a href="{{ path('chapitre_list', { 'id': chapitre.project.id }) }}">Tables matières</a></li>#}
        {#<li><a href="{{ path('chapitre_new', { 'id': chapitre.project.id }) }}">Ajouter un nouveau chapitre</a></li>#}
    {#</ul>#}
{#</li>#}
{#<li role="presentation" class="dropdown">#}
    {#<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"#}
       {#aria-haspopup="true"#}
       {#aria-expanded="false">#}
        {#Tags#}
        {#<span class="caret"></span>#}
    {#</a>#}
    {#<ul class="dropdown-menu">#}
        {#<li>#}
            {#Liste des tags#}
            {#<a href="{{ path('tag_list', { 'id': project.id }) }}">Liste des tags </a>#}
        {#</li>#}
        {#<li>   <li> <a href="{{ path('tag_new', { 'id': project.id }) }}">Ajouter un nouveau tag</a>#}
        {#</li>#}
    {#</ul>#}
{#</li>#}
{#<li role="presentation" class="dropdown">#}
    {#<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"#}
       {#aria-haspopup="true"#}
       {#aria-expanded="false">#}
        {#Lien(s)#}
        {#<span class="caret"></span>#}
    {#</a>#}
    {#<ul class="nav dropdown-menu">#}
        {#<li>#}
            {#<a href="{{ path('link_list', { 'id': chapitre.project.id }) }}"> Liste des liens du projet</a>#}
        {#</li>#}
        {#<li>#}
            {#<a href="{{ path('link_new', { 'id': chapitre.project.id }) }}">Ajouter un nouveau lien</a>#}
            {#<a href="{{ path('link_new'), { 'id': project.id }) }}">Ajouter un nouveau lien</a>#}
        {#</li>#}
    {#</ul>#}
{#</li>#}
{#<li role="presentation" class="dropdown">#}
    {#<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"#}
       {#aria-haspopup="true"#}
       {#aria-expanded="false">#}
        {#Note(s)#}
        {#<span class="caret"></span>#}
    {#</a>#}
    {#<ul class="nav nav-sidebar dropdown-menu">#}
        {#<li>#}
            {#<a href="{{ path('note_list', { 'id': chapitre.project.id }) }}">Liste des Notes</a>#}
        {#</li>#}
        {#<li>  <a href="{{ path('note_new', { 'id': chapitre.project.id }) }}">Ajouter une nouvelle note</a>#}
        {#</li>#}
    {#</ul>#}
{#</li>#}