{% extends 'base.html.twig' %}

{% block body %}
    <h1>Places list</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Localisation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for place in places %}
            <tr>
                <td>{{ place.name }}</td>
                <td>{{ place.description }}</td>
                <td>{{ place.localisation }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('place_show', { 'id': place.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('place_edit', { 'id': place.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
