{% extends 'base.html.twig' %}
{% block stylesheets %}
{% endblock %}
    {% block dahsbord%}
        {% include 'default/dashboard.project.html.twig' %}
    {% endblock %}
    {% block nav %}
        {% include 'default/nav.dashboard.html.twig' %}
    {% endblock %}
{% block body %}
    <h1>{{ chapitre.project.title }} : {{ chapitre.title }}</h1>
    {{ chapitre.contenu|raw }}
    <table>
        <tbody>
        <tr>
            <th>Actions</th>
            <td>
                <a href="{{ path('chapitre_edit', { 'id': chapitre.id }) }}" class="btn btn-info">Modifier</a>&nbsp;
            </td><td> {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer"  class="btn btn-danger">
                {{ form_end(delete_form) }}
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
{% block menuprincipale %}
    {#{% include ':default:menu.project2.twig' %}#}
{% endblock %}
{% block menusecondaire %}

{% endblock %}