{% extends 'base.html.twig' %}
    {% block dahsbord %}
        {% include 'default/dashboard.project.html.twig' %}
    {% endblock %}
    {% block nav %}
        {% include 'default/nav.dashboard.html.twig' %}
    {% endblock %}
{% block body %}
    <div class="table-responsive">
        <h2 class="sub-header">{{ project.title }}</h2>
        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <table>
            <tr>
                <td>
                    <button type="submit" value="Enregistrer" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                    </button>
                    {{ form_end(edit_form) }}</td>
                <td>        {{ form_start(delete_form) }}
                    <button type="submit" value="Supprimer" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                    {{ form_end(delete_form) }}</td>
                <td><a href="{{ path('pdfproj',{ 'id': project.id }) }}" class="btn btn-info" role="button">
                        <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
                    </a></td>
            </tr>
        </table>
    </div>

{% endblock %}
{% block menuprincipale %}
    {% include ':default:menu.project2.twig' %}
{% endblock %}
{% block menusecondaire %}

{% endblock %}