{% extends 'base.html.twig' %}
    {% block dahsbord%}
        {% include 'default/dashboard.project.html.twig' %}
    {% endblock %}
    {% block nav %}
        {% include 'default/nav.dashboard.html.twig' %}
    {% endblock %}
{% block body %}

    <h2 class="sub-header">{{ project.title }}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ project.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ project.description }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{ project.getCategory.name }}</td>
            </tr>
            <tr>
                <th>Droits</th>
                <td>{{ project.getRights.type }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if project.statut %}Terminé{% else %} En cours{% endif %}</td>
            </tr>
            <tr>
                <th>Crée le </th>
                <td>{% if project.createdat %}{{ project.createdat|date('d/m/Y - H:i:') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Modifié le </th>
                <td>{% if project.editedat %}{{ project.editedat|date('d/m/Y - H:i') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Actions</th>
                <td><a href="{{ path('project_edit', { 'id': project.id }) }}">Modifier</a> -
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Supprimer">
                    {{ form_end(delete_form) }}</td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
{% block menuprincipale %}
    {% include ':default:menu.project.twig' %}{% include ':default:menu.fiche.twig' %}
{% endblock %}
{% block menusecondaire %}
    {% endblock %}
