{% extends 'base.html.twig' %}

{% block body %}
    <h1>Perso</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ perso.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ perso.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ perso.prenom }}</td>
            </tr>
            <tr>
                <th>Surnom</th>
                <td>{{ perso.surnom }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ perso.daten }}</td>
            </tr>
            <tr>
                <th>Lieu de naissance</th>
                <td>{{ perso.lieun }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ perso.sexe }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ perso.statut }}</td>
            </tr>
            <tr>
                <th>Mineur</th>
                <td>{% if perso.mineur %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('perso_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('perso_edit', { 'id': perso.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
