{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ chapter.getProject.title }}-Chapitre</h1>

    <table>
        <tbody>
        <tr>
            <th> Oeuvre</th>
            <td><a href="{{ path('project_show', {'id': chapter.project.id}) }}">{{ chapter.getProject.title}}</a></td>
        </tr>
            <tr>
                <th>Titre </th>
                <td>{{ chapter.title }}</td>
            </tr>
            <tr>
                <th>Redaction</th>
                <td>{% if chapter.redaction %}Fini{% else %}En cours{% endif %}</td>
            </tr>
            <tr>
                <th>Publication</th>
                <td>{% if chapter.publication %}Publié{% else %}Non Publié{% endif %}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if chapter.createdat %}{{ chapter.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Editat</th>
                <td>{% if chapter.editat %}{{ chapter.editat|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('chapter_index') }}">retour</a>
        </li>
        <li>
            <a href="{{ path('chapter_edit', { 'id': chapter.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
