{% extends 'base.html.twig' %}

{% block body %}
    <h1>Chapters list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Redaction</th>
                <th>Publication</th>
                <th>Createdat</th>
                <th>Editat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chapter in chapters %}
            <tr>
                <td><a href="{{ path('chapter_show', { 'id': chapter.id }) }}">{{ chapter.id }}</a></td>
                <td>{{ chapter.title }}</td>
                <td>{% if chapter.redaction %}Yes{% else %}No{% endif %}</td>
                <td>{% if chapter.publication %}Yes{% else %}No{% endif %}</td>
                <td>{% if chapter.createdat %}{{ chapter.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if chapter.editat %}{{ chapter.editat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('chapter_show', { 'id': chapter.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('chapter_edit', { 'id': chapter.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('chapter_new') }}">Create a new chapter</a>
        </li>
    </ul>
{% endblock %}
