{% extends 'base.html.twig' %}

{% block body %}
    <h1>Chapter</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chapter.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ chapter.title }}</td>
            </tr>
            <tr>
                <th>Redaction</th>
                <td>{% if chapter.redaction %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Publication</th>
                <td>{% if chapter.publication %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if chapter.createdat %}{{ chapter.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Editat</th>
                <td>{% if chapter.editat %}{{ chapter.editat|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('chapter_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('chapter_edit', { 'id': chapter.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
