{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contenus list</h1>
        {% for contenu in contenus %}
                {{ contenu.contenu }}

                <table>
                    <thead>
                    <tr>
                        <th>Versionat</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    <td>{% if contenu.versionat %}{{ contenu.versionat|date('d-m-Y H:i:s') }}{% endif %}</td>
                    <td>
                    <ul>
                        <li>
                            <a href="{{ path('contenu_show', { 'id': contenu.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('contenu_edit', { 'id': contenu.id }) }}">Modifier</a>
                        </li>
                        <li>
                            <a href="{{ path('contenu_delete', { 'id': contenu.id }) }}">Supprimer</a>
                        </li>
                    </ul>
                </td>
            </tr>       </tbody>
            </table>
        {% endfor %}

    <ul>
        <li>
            <a href="{{ path('contenu_new') }}">Créer une nouvelle version vierge</a>
        </li>
    </ul>
{% endblock %}
