{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/tinymce.min.js') }}"></script>
            <script src="{{ asset('js/langs/fr_FR.js') }}"></script>
            <script>tinymce.init({
                    selector: 'textarea',
                    theme: 'modern',
                    plugins: [
                        'advlist autolink charmap print ',
                        'searchreplace wordcount visualchars ',
                        'nonbreaking save contextmenu directionality',
                        'paste textpattern'
                    ],
                    autosave_ask_before_unload:true,
                    autosave_interval: "20s",
                    wordcount_cleanregex: /[0-9.(),;:!?%#$?\x27\x22_+=\\\/\-]*/g,
                    toolbar1: 'undo redo | styleselect | bold italic strikethrough | cadratin | alignleft aligncenter alignright alignjustify |' +
                    ' print | searchreplace | version ',
                    autosave_interval: "60s",
                    setup: function (editor) {
                        editor.addButton('cadratin', {
                            text: '—',
                            icon: false,
                            onclick: function () {
                                editor.insertContent('&mdash;');
                            }
                        });
                    },
                    setup: function (editor) {
                        editor.addButton('version', {
                            text: 'VS',
                            icon: false,
                            onclick: function () {
                                editor.insertContent('&mdash;');
                            }
                        });
                    },
                    formats: {
                        alignleft: {selector: 'p,h1,h2,h3,h4,h5,h6,td,th,div,ul,ol,li,table,img', classes: 'left'},
                        aligncenter: {selector: 'p,h1,h2,h3,h4,h5,h6,td,th,div,ul,ol,li,table,img', classes: 'center'},
                        alignright: {selector: 'p,h1,h2,h3,h4,h5,h6,td,th,div,ul,ol,li,table,img', classes: 'right'},
                        alignfull: {selector: 'p,h1,h2,h3,h4,h5,h6,td,th,div,ul,ol,li,table,img', classes: 'full'},
                        bold: {inline: 'span', 'classes': 'bold'},
                        italic: {inline: 'span', 'classes': 'italic'},
                        underline: {inline: 'span', 'classes': 'underline', exact: true},
                        strikethrough: {inline: 'del'},
                    },
//        autosave_prefix: "tinymce-autosave-{path}{query}-{id}-"

                });</script>
        {% endblock %}

{% block body %}
    <textarea>{{ contenu.contenu }}</textarea>

    <ul>
        {#<li>#}
            {#<a href="{{ path('contenu_index') }}">Back to the list</a>#}
        {#</li>#}
        {#<li>#}
            {#<a href="{{ path('contenu_edit', { 'id': contenu.id }) }}">Edit</a>#}
        {#</li>#}
        {#<li>#}
            {#{{ form_start(delete_form) }}#}
                {#<input type="submit" value="Delete">#}
            {#{{ form_end(delete_form) }}#}
        {#</li>#}
    </ul>
{% endblock %}
